{% extends 'base.html' %}
{% load static %}

{% block title %} Project Showcase {% endblock %} 

{% block view %}
<section class="view">
  <div class="left">
    <h1>
      Team members
    </h1> 
    <hr>
    <div class="teammates">{{project.team_member1}}</div>
    <div class="teammates">{{project.team_member2}}</div>
    <div class="teammates">{{project.team_member3}}</div>
    <div class="teammates">{{project.team_member4}}</div>
    <hr>
    <h1>Project Guide</h1>
    <hr>
    <div class="guide">{{project.project_guide}}</div>
  </div>
  <div class="right">
    <h1>Abstract</h1>
    <hr>
    <p>
      {{project.abstract}}
    </p>
  </div>
</section>
{% endblock %}
