{% extends 'base.html' %} 
{% block title %} Home {% endblock %} 

{% block content %}



<section class="firstSection">
  <div class="leftSection">
    Transforming Ideas Into Innovation
    <span class="purple">Guidance.AI</span>
    <p>
      - AI-Powered Project Ideation Validation <br />
      - Intelligent Similarity Plagiarism Detection <br />
      - Structured Multi-Stage Project Tracking <br />
      - Innovation Showcase Leaderboard <br />
      - Seamless Faculty Student Collaboration <br />
    </p>
  </div>
  <div class="rightSection">
    <img src="./static/images/bg_image.png" alt />
  </div>
</section>
<hr />

<h1 class="heading1">Why Final Year Projects Fail Today ?</h1>
<section class="secondSection">
  <div class="boxes">
    <p id="title">Ideation</p>
    <hr />
    <img src="./static/images/idea.png" alt="" />
    <hr />
    <p id="description">
      Students Struggle to Find Unique and Innovative Project Ideas
    </p>
  </div>
  <div class="boxes">
    <p id="title">Repetation</p>
    <hr />
    <img src="./static/images/repeat.png" alt="" />
    <hr />
    <p id="description">Repeated Projects Due To Lack Of Centralized Records</p>
  </div>
  <div class="boxes">
    <p id="title">Burden</p>
    <hr />
    <img src="./static/images/burden.png" alt="" />
    <hr />
    <p id="description">Faculty Burdened With Manual Approvals And Tracking</p>
  </div>
  <div class="boxes">
    <p id="title">No Communication</p>
    <hr />
    <img src="./static/images/communication.png" alt="" />
    <hr />
    <p id="description">Poor Communication Leads To Confusion And Delays</p>
  </div>
  <div class="boxes">
    <p id="title">No Transparency</p>
    <hr />
    <img src="./static/images/transperancy.png" alt="" />
    <hr />
    <p id="description">No Transparency In Project Approval Status</p>
  </div>
</section>

<h1 class="heading1">How We Help ?</h1>
<section class="thirdSection">
  <div class="leftSection">
    <img src="./static/images/aiMentor.png" alt="" />
  </div>
  <div class="rightSection">
    <h1>AI Engine Suggests Ideas</h1>
    <hr>
    <p>
      The AI Mentor Is An Intelligent Idea Generation And Guidance System
      Designed To Help Students Identify Innovative, Relevant, And Feasible
      Final Year Project Ideas.
    </p>
  </div>
</section>
<hr>
<section class="thirdSection">
  <div class="rightSection">
    <h1>Plagiarism Detection</h1>
    <hr>
    <p>
      Student's Submitted Adbstracts Are Vectorized
      And Compared With The Existing Project's Abstract Giving The Similarity Score
      Preventing Repetition Of The Ideas.  
    </p>
  </div>
  <div class="leftSection">
    <img src="./static/images/plagiarism.png" alt="" />
  </div>
</section>
<hr>
<section class="thirdSection">
  <div class="leftSection">
    <img src="./static/images/leaderboard.png" alt="" />
  </div>
  <div class="rightSection">
    <h1>Leaderboard</h1>
    <hr>
    <p>
      Projects Developed By The Students Are Ranked Based
      On The Internal Marks They Have Got. This Maintains Healthy
      Competetion Amongst Teams.
    </p>
  </div>
</section>
<hr>
<section class="thirdSection">
  <div class="rightSection">
    <h1>Showcase Your Project</h1>
    <hr>
    <p>
      At The Last Every Team Can Showcase Their Projects
      By Uploading The Details Of the Project Like: Screenshots, Abstract, Team Members, Guide Name, 
      Tech Stack Used, etc..   
    </p>
  </div>
  <div class="leftSection">
    <img src="./static/images/upload.png" alt="" />
  </div>
</section>
<hr>
<section class="thirdSection">
  <div class="leftSection">
    <img src="./static/images/gallery.png" alt="" />
  </div>
  <div class="rightSection">
    <h1>Project Gallery</h1>
    <hr>
    <p>
      The Projects Uploaded By The Students Can Be Veiwed By Others 
      Which Gives Exposure To The Innovation Of The Students And Juniors Get 
      An Idea What Their Seniors Have Done. This Will Motivate Them To Do Innovative When Its Their Turn.
    </p>
  </div>
</section>
<hr>



{% endblock %}
