{% extends "base.html" %} {% block content %} {% if error %}
<p style="color: red">{{ error }}</p>
{% endif %}
<section class="manageteamFirstSection">
  <h2>Manage Teams</h2>
</section>

<hr />

<section class="manageteamSecondSection">
  <div>
    <h3>Create New Team</h3>
    <hr>
    <form method="POST">
      {% csrf_token %}
      <input type="text" name="team_name" placeholder="Team Name" required />
      <button type="submit">Create Team</button>
    </form>
  </div>
</section>

<hr>

<h3>Your Teams</h3>
<section class="manageteamThirdSection">
  <div>

    {% for team in teams %}

      <h4>{{ team.name }}</h4> <hr>
    
      <a href="{% url 'edit_team' team.id %}" class="buttons">
        <button id="edit">Edit</button>
      </a>
    
      <a href="{% url 'delete_team' team.id %}">
        <button id="delete">Delete Team</button>
      </a>
    
      <a href="{% url 'add_student' team.id %}">
        <button id="addStud">Add Student</button>
      </a> <hr>
    
      <p><strong>Members:</strong></p>
    
      <ul>
        {% for member in team.members.all %}
        <ul>
          {{ member.first_name }} {{ member.last_name }}
          <a href="{% url 'remove_student' team.id member.id %}">
            <button>Remove</button>
          </a>
        </ul>
        {% empty %}
        <li>No Members Added Yet</li>
        {% endfor %}
      </ul>
  </div>
  </div>

</section>


<hr />

<hr />
{% empty %}
<p>You haven't created any teams yet.</p>
{% endfor %}

<div class="fourthSection">
  <a href="{% url 'faculty_dashboard' %}">
    <button>Back to Dashboard</button>
  </a>
</div>

{% endblock %}
