{% extends "base.html" %}

{% block content %}
<section class="ideaSubmissionSection">
    <div class="ideaSubmissionheading">
        <h2>Submit Your Project Idea</h2>
        <p>
            Initially you have to submit Three ideas. Only 3 Ideas per team is accepted.
        </p>
    </div>
    <div class="ideaSubmission">
        
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <label for="title">Idea Title</label><br>
            <input type="text" name="title" required><br><br>
            
            <label for="text">Description</label><br>
            <input type="text" name="description" ><br><br>
        
            <label for="abstract">Abstract</label><br>
            <textarea name="abstract" rows="5" required></textarea><br><br>
        
            <label for="ppt">Upload PPT</label><br>
            <input type="file" name="ppt"><br><br>
        
            <button type="submit">Submit Idea</button>
        
        </form>
    </div>
</section>

{% endblock %}